.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0;
  user-select: none;
}

.info_sup, .info_inf {
  display: flex;
  border: 2px solid #d2ff00;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}

.basic_info, .other_info {
  margin-right: 25px;
}

.basic_info h1 {
  margin: 10px 0;
  font-size: 2.5rem;
}

.basic_info h3, .basic_info h4 {
  margin: 8px 0;
  font-weight: 400;
}

.basic_info img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

.other_info h3 {
  color: #d2ff00;
}

.other_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.other_info ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  margin-bottom: 25px;
}

.other_info ul li, .info_inf ul ul li {
  padding: 5px;
  background-color: rgba(182, 182, 182, 0.378);
  margin: 5px;
  transition: all .3s ease-in-out;
}

.other_info ul li:hover {
  background-color: rgba(230, 230, 230, 0.378);
  transition: all .3s ease-in-out;
}

.other_info ul li a {
  text-decoration: none;
  color: #d2ff00;
}

.other_info p {
  margin: 10px 0;
}

.other_info p span {
  padding: 5px;
  background-color: rgba(182, 182, 182, 0.378);
  margin: 5px;
}

.info_inf h3 {
  color: #d2ff00;
  margin: 10px;
}

.info_inf ul {
  list-style: none;
  padding-inline-start: 0;
}

@media only screen and (max-width: 856px) {
  .info_sup, .info_inf {
    flex-direction: column;
    align-items: center;
  }
  .languages ul ul {
    display: flex;
  }
  .basic_info, .other_info, .languages {
    text-align: center;
    margin-right: 0;
  }
}