.container {
  margin-right: 10px;
}

.container select:focus-visible {
  outline: none;
}

.container select {
  border: none;
  padding: 10px 20px;
  color:  rgb(37, 58, 99);
  max-width: 200px;
}

@media only screen and (max-width: 760px) {
  .container{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    margin: 10px 10px 0 10px;
  }
}