.container {
  margin: 20px 40px;
  user-select: none;
}

.container a {
  text-decoration: none;
  color:  rgb(37, 58, 99);
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .container a {
    font-size: 1.5rem;
    text-align: center;
  }
}