.container {
  width: 100%;
}

.flag img {
  width: 100%;
  max-height: 150px;
  border-radius: 10px;
}

.container a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  user-select: none;
  filter: saturate(40%);
  transition: all 0.3s;
}

.container a:hover {
  filter: saturate(100%);
  transition: all 0.3s;
}

.container a h1 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
}

.container a h3 {
  color: #d2ff00;
  font-weight: 400;
  font-size: .9rem;
}

.container a p {
  color: rgb(187, 187, 187);
}

@media only screen and (max-width:400px) {
  .container {
    width: 80%;
  }
  .container a {
    align-items: center;
  }
}