.App {
  /* text-align: center; */
  display: grid;
  grid-template: 1fr/1fr 3fr;
  height: 100vh;
  border: 1px solid black;
  box-sizing: border-box;
}

.left_container {
  display: grid;
  grid-template: 1fr/50px 1fr;
}

/* .right_container {
  display: grid;
  grid-template: 1fr 7fr/1fr;
} */