.App {
  display: grid;
  grid-template: 1fr/1fr 3fr;
  box-sizing: border-box;
  background: linear-gradient(to right, #232526, #414345);
}

.left_container {
  display: grid;
  grid-template: 1fr/50px 1fr;
}

.right_container {
  display: grid;
  grid-template: 100px 7fr/1fr;
}